* {
  padding: 0;
  margin: 0;
}
.main {
  margin-top: 10%;
  /* height: 80vh; */
  color: rgb(97, 96, 96);
  box-shadow: 0px 0px 4px 0.5px rgb(83, 81, 81, 0.2);
}
img {
  width: 90%;
  margin-left: 5%;
  height: 60vh;
}
a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(97, 96, 96);
  font-size: x-large;
  text-shadow: 0px 1px 1px rgb(180, 177, 177);
}
a:hover {
  color: rgb(161, 161, 161);
  font-size: large;
}
p {
  color: rgb(97, 96, 96);
}
@media (max-width: 700px) {
  .main {
    height: 78vh;
  }
}

/* Range: 1001px to 1500px */
@media (min-width: 701px) and (max-width: 1000px) {
  .main {
    height: 80vh;
  }
}

/* Range: 1501px and above */
@media (min-width: 1001px) {
  .main {
    height: 80vh;
  }
}
