* {
  padding: 0;
  margin: 0;
  color: rgb(97, 96, 96);
}
.formDiv {
  height: 100vh;
}

.formform input {
  width: 97%;
  border: 0.5px solid rgb(83, 81, 81, 0.4);
}

.login {
  font-weight: 700;
  text-shadow: 1px 0px 5px rgb(83, 81, 81, 0.5);
  font-size: 35px;
}

.goToSginup {
  gap: 15px;
  text-shadow: 0.5px 0px 1px rgb(83, 81, 81, 0.5);
}
button {
  width: 50%;
  margin-left: 25%;
  font-size: 25px;
}
.formform {
  border: 0px solid rgb(255, 255, 255) !important;
  height: 80vh;
  width: 80%;
  margin-top: 10%;

  margin-left: 10%;
  box-shadow: 0px 0px 4px 0.5px rgb(83, 81, 81, 0.2);
}
.formlogin {
  border: 0px solid rgb(255, 255, 255) !important;
  height: 70vh;
  margin-top: 15%;
  width: 80%;
  margin-left: 10%;
  box-shadow: 0px 0px 4px 0.5px rgb(83, 81, 81, 0.2);
}
.password {
  position: relative;
}

.eyePass {
  position: absolute;
  top: 75%;
  right: 20px; /* Adjust distance from the right */
  transform: translateY(-50%);
}
.eyePass:hover {
  cursor: pointer;
}
.names {
  width: 100% !important;
}
.error {
  color: rgb(241, 60, 60);
  font-size: small;
}
/* Hide the default eye icon in browsers like Chrome */
input::-ms-reveal,
input::-ms-clear,
input::-webkit-clear-button,
input::-webkit-inner-spin-button,
input::-webkit-calendar-picker-indicator,
input::-webkit-credentials-auto-fill-button {
  display: none; /* Hides the default toggle icon */
}
@media (max-width: 1000px) {
  .image {
    display: none;
  }
  .names input[type="text"] {
    width: 98%;
    flex-wrap: wrap;
  }
}

@media (min-width: 1001px) {
  .image {
    background-image: url(./images/login.jpg);
    height: 100vh;
  }
  .names input[type="text"] {
    width: 97%;
    flex-wrap: wrap;
  }
}
